.todoTitle {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: left;
  margin-left: 1rem;
}

.todoList {
  text-align: left;
  font-size: 1.3rem;
  height: 18rem;
}

.todoList li {
  margin: 10px;
}

.doneTitle {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: left;
  margin-left: 1rem;
}

.doneList {
  text-align: left;
  font-size: 1.3rem;
  height: 18rem;
}

.doneList li {
  margin: 10px;
}

.button img {
  width: 1rem;
  height: 1rem;
  margin-right: 1rem;
}
