@font-face {
  font-family: 'Bareun_hipi';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_01@1.0/Bareun_hipi.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: 'Bareun_hipi', sans-serif;
}
